#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/mykey*
*/.pem*
*/.ssh*p